.navbar {
  position: relative;
  width: 100%;
}

.background3 {
  width: 100%;
  height: 100vh;
  background-image: url("../../public/BackgroundNew2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: hard-light;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  overflow-x: hidden;
}

.logo2 {
  position: relative;
  width: 100%;
  height: 0px;
  max-width: 100%;
}

.logoclass2 {
  height: 80px;
  position: fixed;
  z-index: 10;
}

.productArrayItemCart {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  height: fit-content;
  margin-top: 100px;
}

.productArrayItemGrid {
  display: grid;
  justify-content: center;
  width: 100%;
}

.reserveForm {
  background-color: rgba(0, 0, 0, 0.9);
  height: 35%;
  width: 50%;
  border-radius: 20px;
}

.reserveMain {
  background-image: url("../../public/BackgroundNew2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserveInputEmail {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 60px;
  align-items: center;
}

.reserveInputName {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 80px;
  align-items: center;
}

.reserveEmail {
  width: 60%;
  border-radius: 20px;
  border: none;
  color: black;
  text-align: center;
  height: 60%;
}
::placeholder {
  color: black;
}

.reserveName {
  width: 60%;
  border-radius: 20px;
  border: none;
  color: black;
  text-align: center;
  height: 45%;
}

.buyButtonClass {
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.buyButton {
  color: aliceblue;
  font-size: medium;
  font-weight: 600;
  background-color: crimson;
  border-radius: 20px;
  border: none;
  width: 40%;
  height: 35px;
  margin-top: 2em;
}

.proceedButtonClass {
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.proceedButton {
  color: aliceblue;
  font-size: medium;
  font-weight: 600;
  background-color: crimson;
  border-radius: 20px;
  border: none;
  width: 20%;
  height: 35px;
  margin-top: 2em;
}
/* .productArrayGrid {
  display: flex;
  width: 100%;
  justify-content: center;
} */

/* .testclass {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
} */
.footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: aliceblue;
  width: 100%;
  height: 400px;
  margin-top: 70px;
}

.footerContainer1 {
  background-color: rgba(0, 0, 0, 0.9);
  color: aliceblue;
  width: 100%;
  height: 400px;
  margin-top: 0px;
}

.listUnstyled {
  list-style-type: none;
}

.listUnstyled {
  font-size: large;
}

.footerCopyright {
  display: flex;
  width: 100%;
  justify-content: center;
}

.socialLinks {
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
  max-width: 400px;
  margin: auto;
}

.allLogo {
  height: 30px;
  padding-top: 1.4em;
}

.box {
  background-color: aliceblue;
}

@media screen and (min-width: 375px) {
  .productArrayContainer {
    grid-template-columns: auto;
  }

  .mainpagetext {
    font-size: 8px;
    width: 100%;
    justify-content: center;
    text-align: center;
    height: 570px;
  }

  .griditem1 {
    flex-wrap: wrap;
    margin-top: 50px;
    height: 120px;
  }
  .griditem3 {
    height: 30px;
  }

  .griditem5,
  .griditem6 {
    height: 70px;
  }

  .griditem2 {
    height: 50px;
  }

  .footer,
  .footerContainer1 {
    font-size: 8px;
  }

  .signUpButton {
    color: aliceblue;
    background-color: crimson;
    border-radius: 20px;
    border: none;
    width: 60% !important;
    height: 90% !important;
    font-size: 8px;
    padding: 20px !important;
  }

  .signUpClass {
    display: flex;
    justify-content: center;
    height: 60px !important;
    width: 100% !important;
    align-items: center;
    padding-top: 0px !important;
  }

  .newsletterEmailBox {
    width: 100% !important;
    display: flex;
    justify-content: center;
    height: 60px !important;
  }

  .newsletterEmail {
    width: 80% !important;
    border-radius: 20px !important;
    text-align: center !important;
    height: 70%;
  }

  .newsletterText {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SearchButtonDiv {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  .searchInputBox {
    width: 70%;
    height: 50%;
    border-radius: 20px;
    text-align: center;
  }

  .error {
    width: 100%;
    height: 20px;
    color: whitesmoke;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
  }

  .AddtoCartDiv {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .BackButtonDiv {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .AddtoCartbutton {
    width: 80%;
    height: 70%;
    color: black;
    font-size: 10px;
    font-weight: 600;
    background-color: crimson;
    border-radius: 20px;
    border: none;
  }

  .BackButton {
    width: 80%;
    height: 70%;
    color: whitesmoke;
    font-size: 10px;
    font-weight: 500;
    background-color: rgb(54, 48, 48);
    border-radius: 20px;
    border: none;
  }

  .AddtoCartbutton,
  .BackButton:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .productArrayContainer {
    grid-template-columns: auto auto;
  }

  .newsletterEmailBox {
    width: 100% !important;
    display: flex;
    justify-content: center;
    height: 60px !important;
  }

  .newsletterEmail {
    width: 50% !important;
    border-radius: 20px !important;
    text-align: center !important;
    height: 80%;
  }
  .signUpButton {
    width: 50% !important;
    height: 85% !important;
    font-size: 8px;
    padding: 20px !important;
  }

  .signUpClass {
    display: flex;
    justify-content: center;
    height: 60px !important;
    width: 100% !important;
    align-items: center;
    margin-top: 20px;
  }

  .mainpagetext {
    font-size: 10px;
  }
  .error {
    width: 100%;
    height: 80px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  .productDescription {
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) {
  .productArrayContainer {
    grid-template-columns: auto auto auto;
  }

  .griditem1 {
    height: 150px;
    margin-top: 20px;
  }

  .griditem2 {
    height: 100px;
  }
  .griditem4 {
    height: 110px;
  }

  .griditem5 {
    height: 130px;
  }

  .griditem6 {
    height: 150px;
  }

  .mainpagetext {
    font-size: 15px;
    height: 750px;
  }

  .newsletterEmailBox {
    width: 100% !important;
    display: flex;
    justify-content: center;
    height: 60px !important;
  }

  .newsletterEmail {
    width: 50% !important;
    border-radius: 20px !important;
    text-align: center !important;
    height: 80%;
  }
  .signUpButton {
    width: 50% !important;
    height: 85% !important;
    font-size: 8px;
    padding: 20px !important;
  }

  .signUpClass {
    display: flex;
    justify-content: center;
    height: 60px !important;
    width: 100% !important;
    align-items: center;
    margin-top: 20px;
  }

  .SearchButtonDiv {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .searchInputBox {
    width: 30%;
    height: 50%;
    border-radius: 20px;
    text-align: center;
  }

  .error {
    width: 100%;
    height: 100px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .AddtoCartbutton,
  .BackButton {
    width: 40%;
  }
}

.cartLogo {
  display: grid;
  justify-content: right;
  width: 100%;
  margin: 20px;
  z-index: 100;
}

.cartLogoIMG {
  width: 60px;
}
