.navbar {
  position: relative;
  width: 100%;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../../public/BackgroundNew2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: hard-light;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  /* overflow-x: hidden; */
}

.logo {
  position: relative;
  width: 100%;
  height: 0px;
  max-width: 100%;
}

.flexbox {
  z-index: 2;
  height: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logoclass {
  height: 80px;
  position: fixed;
  z-index: 10;
}

.searchButton {
  display: grid;
  justify-content: center;
  margin-top: 2em;

  margin-left: 70em;
  align-items: center;
}

.mainpagetext {
  position: relative;
  color: aliceblue;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 600px;
  align-items: center;
}

.gridcontainer {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  height: 200px;
  justify-content: center;
}

.griditem1 {
  height: 150px;
}

.griditem4 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.shopnowbutton {
  color: aliceblue;
  font-size: medium;
  font-weight: 600;
  background-color: crimson;
  border-radius: 20px;
  border: none;
  width: 40%;
}

.griditem5 {
  color: aliceblue;
}

.griditem6 {
  color: aliceblue;
  font-size: small;
  height: 100px;
}

.productArrayContainer {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  height: 300px;
  align-items: center;
  gap: 30px 30px;
}

.productArrayItem {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.footerContainer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  color: aliceblue;
  width: 100%;
  padding-bottom: 1em;
  flex-direction: column;
  margin-top: 100vh;
}

.listUnstyled {
  list-style-type: none;
}

.listUnstyled {
  font-size: large;
}

.footerCopyright {
  display: flex;
  width: 100%;
  justify-content: center;
}

.socialLinks {
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
  max-width: 400px;
  margin: auto;
}

.allLogo {
  height: 30px;
  padding-top: 1.4em;
}

.newsletterText {
  width: 100%;
  display: flex;
  justify-content: center;
}

.newsletterEmailBox {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
}

.newsletterEmail {
  width: 20%;
}

.signUpButton {
  color: aliceblue;
  font-size: medium;
  font-weight: 600;
  background-color: crimson;
  border-radius: 20px;
  border: none;
  width: 10%;
}

.signUpClass {
  display: flex;
  justify-content: center;
  height: 25px;
  padding-top: 1em;
}

.box {
  background-color: aliceblue;
}
